export(add.failure)
export(add.hint)
export(add.success)
export(add.warning)
export(check.exercise)
export(check.problem.set)
export(check.var)
export(create.stud.ps)
export(develop.problem.set)
export(extract.exercise.code)
export(get.ex)
export(get.ps)
export(hint.for)
export(holds.true)
export(hypothesis.test.result)
export(init.problem.set)
export(set.ex)
export(set.ps)
export(show.success.message)
export(sigma.test)
export(test.H0)
export(test.H0.rejected)
export(test.mean)
export(test.normality)
export(test.variance)
