export(check.exercise)
export(check.var)
export(get.problemset.structure.path)
export(get.problemset.user.path)
export(holds.true)
export(hypothesis.test.result)
export(load.problem.set)
export(set.problemset.structure.path)
export(set.problemset.user.path)
export(sigma.test)
export(test.mean)
export(test.normality)
export(test.variance)
export(write.ps.skeleton)
