export(with.random.seed)
export(add.failure)
export(add.success)
export(add.warning)
export(awards)
export(check.assign)
export(check.call)
export(check.col)
export(check.exercise)
export(check.expr)
export(check.file.exists)
export(check.function)
export(check.package)
export(check.problem.set)
export(check.regression)
export(check.var)
export(create.empty.ps)
export(create.ps)
export(create.struc)
export(create.stud.ps.r)
export(create.stud.ps.rmd)
export(display)
export(extract.exercise.code)
export(get.ex)
export(get.ps)
export(get.user.name)
export(give.award)
export(hint)
export(hint.for.assign)
export(hint.for.call)
export(holds.true)
export(hypothesis.test.result)
export(init.problem.set)
export(install.header.txt)
export(list.ps)
export(set.current.hint)
export(set.ex)
export(set.part)
export(set.ps)
export(show.success.message)
export(sigma.test)
export(stats)
export(test.H0)
export(test.H0.rejected)
export(test.mean)
export(test.normality)
export(test.variance)
export(zip.solution)
export(zip.submit.footer.txt)
